.card {
    min-height: 380px;
    background: linear-gradient(rgba(183, 187, 207, 0.2), rgba(63, 70, 106, 0.5)), url(../../img/cards/card1.webp);
    /* position: absolute;
    z-index: -1;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__text {
    padding-top: 180px;
    min-width: 350px;
    color: var(--white);
    /* backdrop-filter: blur(2px); */
}

.card__name {
    font-size: 30px;
    font-weight: 500;
}

.card__date {
    font-size: 23px;
}

