.day__container{
    display: grid;
    grid-template-columns: repeat(4, 242px);
    column-gap: 90.7px;
}

.day__header {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
}